{% extends "main.html" %}
{% block cont %}

<style>
li {margin: 10px 0 10px 0;}
</style>

<h2 class="u-title">About</h2><br>

 &nbsp; &nbsp; Tensegrity is the first global educational platform where everybody not only acquires knowledge but also disseminates them. It is something much more than new school or courses. Using ideas of tensegrity we are creating a global educational ecosystem which is at times more flexible and sustainable then familiar educational systems.<br>
<br>
 &nbsp; &nbsp; At the moment, we have created a blended learning dApp. Every student there is also a teacher. That increases motivation for study and quality of taken knowledge because students can immediately use their knowledge to help other students to rise up.<br>
<br>
 &nbsp; &nbsp; The interaction between users is carried out through the implementation of Smart Contracts on Qtum platform. Linking with cryptocurrencies provides a flexible economy for the application and increases the confidence of users. Blocks created after using our platform contains all the transactions and that’s why it could be used by employers to get precise information about the candidate. It is absolutely better than diploma checking!<br>
<br>
 &nbsp; &nbsp; Using Blockchain, we provide encouragement to general users and also for enthusiasts who participate in creating new features on the platform. Anyone could make a profit from using and enhancing the platform. That’s why Tensegrity will grow rapidly when we create general structures.

{% endblock %}