{% extends "main.html" %}
{% block cont %}

<style>
li {margin: 10px 0 10px 0;}
</style>

<h2 class="u-title">Honor code</h2>

<ul>
	<li>Be polite because your behavior influences on the speed of your self-development and even on the amount of money you earn
	<li>Read the theory after every step carefully<br>
It is very important because when you came back to the step, the teacher will be YOU.
	<li>When you teach, share your knowledge in general. Do not read out answers for the step if it's possible.
	<li>If you find bugs or something to fix or if you have suggestions, leave your comment for us. And then we will encourage you!
</ul>

{% endblock %}