{% extends "main.html" %}
{% block cont %}

<script type="text/javascript" src="/static/socket.io.min.js"></script>
<script src="/static/md5.js"></script>

<style>
font {
	font-size: 1.7rem;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: block;
	padding: 20px 0 15px 0;
}

.u-body {
	text-align: center;
	padding-top: 50px;
}
</style>

<div class="u-auth">
	<font>Authorization</font>
	<input type="password" name="password" placeholder="Password" required>
	<input type="submit" value="Check" onclick="check()">

	<script>

// Socket.IO

namespace = 'auth';
var socket = io.connect('{{ LINK }}' + namespace);

// Получение пароля

var password = window.sessionStorage.getItem("password");

if (password) {
	$('input[name="password"]').attr('value', password);
}

function check() {
	var password = $('input[name="password"]').val();
	window.sessionStorage.setItem('password', password);

	socket.emit('password', {id: {{ user.id }}, cont: md5(password)});
}

$(document).ready(function() {
	socket.on('result', function(mes) {
		if (mes['id'] == {{ user.id }}) {
			if (mes['cont'] == true) {
				$('.u-body').html('<a href="/{% if link %}{{ link }}{% endif %}">Return</a>');
				window.location = '/{% if link %}{{ link }}{% endif %}';
			} else {
				$('input[name="password"]').val('');
				$('input[name="password"]').attr('placeholder', 'Invalid password');
			}
		}
	});
});

	</script>

	<br><br>
</div>

{% endblock %}